
#main-name {
  word-spacing: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: rgb(94, 94, 94);
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

#page-img {
  margin-left: 0;
  padding: 0;
  position: relative;
  left: -11px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 120px;
}


label {
  display: block;
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 0.5rem;
  margin-left: 120px;
}
