.navbar-brand {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 15px;
  margin-left: -4%;
}

#navbarNav {
  margin-left: 10%;
}

#nav-custom {
  font-family: Arial, Helvetica, sans-serif;
}
